## Read README to know how to set this file
NODE_ENV={{YOUR ENV}}
PORT={{YOUR PORT}}
DATABASE={{YOUR DATABASE URL}}
DATABASE_PASSWORD={{YOUR DATABASE PASSWORD}}

JWT_TOKEN={{YOUR JWT SECRET}}
JWT_EXP_IN=1d
