## Read README to know how to set this file
NODE_ENV={{YOUR ENV}}
PORT={{YOUR PORT}}
DATABASE={{YOUR DATABASE URL}}
DATABASE_PASSWORD={{YOUR DATABASE PASSWORD}}

JWT_TOKEN={{YOUR JWT SECRET}}
JWT_EXP_IN={{EXPIRATION DATE TO YOUR JWT}}
JWT_COOKIE_EXPIRES_IN={{YOUR EXPIRATION DATE TO YOUR COOKIE}}

EMAIL_USERNAME={{YOUR EMAIL USERNAME}}
EMAIL_PASSWORD={{YOUR EMAIL PASSWORD}}
EMAIL_HOST=	{{YOUR EMAIL HOSTING SERVICE}}
EMAIL-PORT={{YOUR EMAIL PORT}}
